.image-container-menu-item{
    margin-left: 0.2em;
    cursor: pointer;
}
.image-container-menu-item > h3{
    text-align: center;
    padding-top: 0.5em ;
    width: 90% ;
}
.image-container-menu-item > img{
    max-width: 90%;
}
