.itemList-imgContainer {
    margin-left: 15%;
}
.itemList-imgContainer > img{
    max-width: 70%;
}
.item-img-box{
    width: 30%;
}
.item-price-box{
    padding-top: 47%;
}
.item-quantity{
    padding-top: 15%;
    padding-bottom: 25%;
}
.item-quantity > button {
    border: transparent;
    /* background-color: green; */
    font-size: large;
    font-weight: bold;
}
.btn-container-cart {
    margin-top: 50%;
    padding-top: 50%;
    font-size: large;
    font-weight: bold;
}


